container_commands:

  01_migrate:
    command: "python manage.py migrate"
    leader_only: true
  02_collectstatic:
    command: "python manage.py collectstatic --noinput"
  03_createsu:
    command: "python manage.py createsu"
    leader_only: true
  04_install_package:
    command: "/opt/python/run/venv/bin/pip --upgrade setuptools"
    leader_only: true
  05_install_package2:
    command: "/opt/python/run/venv/bin/pip install python-ldap"
    leader_only: true

option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "locallibrary.settings"
    PYTHONPATH: "$PYTHONPATH"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: "locallibrary/wsgi.py"
    StaticFiles: "/static/=www/static/"

packages:
  yum:
    gcc: []
    gcc-c++: []
    postgresql95-devel: []
    python36-devel: []



