{% extends "base_generic.html" %}
{% block content %}

    <h1>Ruquest Keys For Room: {{keyinst.roomkey}}</h1>

    <p{% if keyinst.is_overdue %} class="text-danger"{% endif %}>Due date: {{keyinst.due_back}}</p>

    <form action="" method="post">
        {% csrf_token %}
        <table>
        {{ form }}
        </table>
        <p><input required id="checkBox" type="checkbox" onclick="validate()"> I accept the <a href="{% url 'key-agreement'%}">terms and conditions</a></p>
        <p id="text" style="display:none">You Have Agreed To the Terms and Conditions</p>
        <input type="submit" value="Submit" />
    </form>

{% endblock %}