{% extends "base_generic.html" %}

{% block content %}
<style>
table, th, td {
    border-collapse: collapse;
}
th, td {
    padding: 10px;
    text-align: left;
}
</style>


<div class="container maintenance-container">
	

	<div class="row" >
		<div class="maintenance-title">
			<h1 class="mainrow">CREATE</h1>
			<h4 class="maintenance-under">View and submit all maintenance requests here</h4>
		</div>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col-lg-12">
				<form action="" method="post">
				    {% csrf_token %}
                    <table>
                        <tr>
                            <th>Requester (start typing your <br />
                                username once the dropdown is selected)</th>
                            <td>
                                <select name = 'name' required>
                                {% for person in names %}
                                    {% if person.first_name %}
                                    <option value="{{ person.first_name }} {{person.last_name}}">{{ person.first_name }} {{ person.last_name }}</option>
                                    {% else %}
                                    <option value="{{ person }}">{{ person }}</option>
                                    {% endif %}
                                {% endfor %}
                                </select>
                            </td>
                        </tr>

                        <tr>
                            <th>Office</th>
                            <td>{{ form.office }}</td>
                            </br>

                        </tr>

                        <tr>
                            <th>Urgency</th>
                            <td>{{ form.urgency }}</td>

                        </tr>

                        <tr>
                            <th>Comments</th>
                            <td>{{ form.request_comments }}</td>
                        </tr>
				    </table>
				    <input type="submit" value="Submit" />
				</form>
		</div>	
	</div>

</div>
	

{% endblock %}