{% extends "base_generic.html" %}

{% block content %}

<h1>Key Request #{{ keyrequest.pk }}</h1>

<p>Request for: <strong>{{ keyrequest.roomkey }}</strong></p>

<br>
	
<p>Requested by: <strong>{{ keyrequest.requester }}</strong></p>

<p>Borrower: <strong>{{ keyrequest.borrower }}</strong></p>

<p>Request Status: <strong>{{ keyrequest.get_request_status_display }}</strong></p>

<p>Date Requested: <strong>{{ keyrequest.date_requested }}</strong></p>

<p>Request Comments: <strong>{{ keyrequest.request_comments }}</strong></p>


<br>

<p>Key Status: <strong>{{ keyrequest.keyinstance.id }}</strong></p>

<p>Return Date: <strong> {{ keyrequest.date_due_back }}</strong></p>

<div>
{% if user.is_staff %}
	<a href="{% url 'key-request-update' keyrequest.pk %}"><h4>Update</h4></a>
{% endif %}
</div>

{% endblock %}