{% extends "base_generic.html" %}

{% block content %}
  <h1>{{ roomkey.room_name }}</h1>

  <p><strong>Description :{{ roomkey.room_des }}</strong> </p>
  <p><strong>Number of Keys In Total:{{ roomkey.keyinstance_set.all.count }}</strong></p>
  <p><strong>Number of Keys Available:{{ roomkey.available_keys_count }}</strong> </p>
  
  <div style="margin-left:20px;margin-top:20px">
    
    <button type='button' class='btn-lg'>
        {% if roomkey.available_keys_count > 0 %}
        <a href="{% url 'all-available-keys' %}">Request</a>
        {% endif %}
    </button>


    <h4>Copies</h4>
    

   <div>
    {% if roomkey.keyinstance_set.all %}
    
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Room Key</th>
          <th>Borrower</th>
          <th>Status</th>
          <th>Date Out</th>
          <th>Due Back</th>
          <th>Date Returned</th>
        </tr>
      </thead>

      {% for copy in roomkey.keyinstance_set.all %}
     
      <tr>
          <td>{{ copy.roomkey }} {{ forloop.counter }}</td>
          <td>{{ copy.borrower }}</td>
          <td>{{ copy.get_status_display }}</td>
          <td>{{ copy.date_out }}</td>
          <td>{{ copy.due_back }}</td>
          <td>{{ copy.date_returned }}</td>
      </tr>
       
 
      {% endfor %}

      </table>

    
    {% else %}
      <p>There are no keys for this room.</p>
    {% endif %} 
  </div>

  </div>
{% endblock %}