{% extends "base_generic.html" %}

{% block content %}

<h1>Key Request #{{ keyinstance.pk }}</h1>

<p>Request for: <strong>{{ keyinstance.roomkey }}</strong></p>

<br>

<p>Borrower: <strong>{{ keyinstance.borrower }}</strong></p>

<p>Request Status: <strong>{{ keyinstance.get_request_status_display }}</strong></p>

<p>Date Requested: <strong>{{ keyinstance.date_requested }}</strong></p>

<p>Request Comments: <strong>{{ keyinstance.key_notes }}</strong></p>


<br>

<p>Key Status: <strong>{{ keyinstance.status }}</strong></p>

<p>Return Date: <strong> {{ keyinstance.date_due_back }}</strong></p>

<div>
{% if user.is_staff %}
	<a href="{% url 'key-request-update' keyrequest.pk %}"><h4>Update</h4></a>
{% endif %}
</div>

{% endblock %}