{% extends "base_generic.html" %}

{% block content %}
    <div class="content-title" xmlns="http://www.w3.org/1999/html">
      <h1>Key List</h1>
  </div>
   
  <div class="split" style="width: 600px">
    <br class = 'centered'>

        <h3>INSTRUCTIONS ON HOW TO CHECK OUT A KEY</h3></br>

        <p>
            You can see how many keys are available for each room on the right side of this </br>
            page. If you would like to make a key request, click on any of the blocks </br>
            and you will see a request button if there are keys available to request. </br>
            Press the request button and fill in the relative information. You will </br>
            be notified by email once your request has been approved or denied.
            </br>
            </br>
            Alternatively you may also navigate to the <b>All Available Keys</b> catalog </br>
            in the menu section on the left. There you will see a list of keys that are </br>
            currently available. Click the request button on the right to request for </br>
            a key.


        </p>

   </div>

    <div class="split">
    <div class = 'centered'>
    {% if roomkey_list %}
    <div class="vertical-menu">

      {%  for roomkey in roomkey_list %}

        <a href="{{ roomkey.get_absolute_url }}">{{ roomkey.room_name }} ({{ roomkey.room_des }}) - Keys In Total: {{ roomkey.keyinstance_set.all.count }}
        Keys Available: <strong>{{ roomkey.available_keys_count }}</strong>
        </a>

      {% endfor %}

    </div>
    {% else %}
      <p>There are no keys in the library.</p>
    {% endif %}
    </div>
   </div>
    
{% endblock %}