{% extends "base_generic.html" %}

{% block content %}

 <div>
    {% if keyinstance_list %}


    <table class="table table-hover">
      <thead>
        <tr>
          <th>Room</th>
          <th>Borrower</th>
          <th>Status</th>
          <th>Date Loaned</th>
          <th>Date Due</th>
          {% if user.is_staff %}
          <th>Renew Request</th>
          <th>Mark Returned</th>
          {% endif %}

        </tr>
      </thead>

      {% for key in keyinstance_list %}


      <tr>
         {% if key.is_overdue %}
         <td style="color: #cd0a0a">{{ key.roomkey }}</td>
         <td style="color: #cd0a0a">{{ key.borrower }}</td>
         <td style="color: #cd0a0a">{{ key.get_status_display }}</td>
         <td style="color: #cd0a0a">{{ key.date_out }}</td>
         <td style="color: #cd0a0a">{{ key.due_back }}</td>
         {% else %}
         <td>{{ key.roomkey }}</td>
         <td>{{ key.borrower }}</td>
         <td>{{ key.get_status_display }}</td>
         <td>{{ key.date_out }}</td>
         <td>{{ key.due_back }}</td>
         {% endif %}
         {% if user.is_staff %}
         <td><a href="{% url 'renew-key-user' key.id %}">Renew</a></td>
         <td><a href="{% url 'return-key-user' key.id %}">Return</a></td>
         {% endif %}

      </tr>



      {% endfor %}

      </table>


    {% else %}
      <p>There are no borrowed keys.</p>
    {% endif %}
  </div>


{% endblock %}