{% extends "base_generic.html" %}

{% block content %}


 <div>
    {% if keyinstance_list %}

    <table class="table table-hover">
      <thead>
        <tr>
          <th>Room</th>
          <th>Status</th>
          <th>Make Request</th>


        </tr>
      </thead>

      {% for key in keyinstance_list %}


      <tr>
         <td>{{ key.roomkey }}</td>
         <td>{{ key.get_status_display }}</td>
         <td><a href="{% url 'submit-key-request' key.id %}">Request</a></td>


      </tr>

      {% endfor %}

      </table>


    {% else %}
      <p>There are key requests.</p>
    {% endif %}
  </div>

{% endblock %}